.oh-0ac540:hover { padding-left: 10px; color: var(--color-accent-700); }
.oh-6a8b37:hover { border-color: var(--color-accent); color: var(--color-accent-700); }
.oh-89d237:hover { padding-left: 14px; color: var(--color-accent-800); }
.oh-c3a899:hover { background: var(--color-accent-700); }
.oh-c783c2:hover { background: var(--color-accent-300); border-color: var(--color-accent-300); }
.oh-e8c858:hover { padding-left: 12px; color: var(--color-accent-800); }
